.awesome {
  padding: 100px 0;
}

.awesome-item {
  width: 350px;
  margin: 0 15px;
}

.awesome-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
  border: 1px solid #d98943;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.awesome-caption {
  margin-bottom: 16px;
}
