.awesome {
  padding: 5rem 0;
}

.awesome-item {
  width: 22rem;
  margin: 0 0.94rem;
  border-radius: 0.31rem;
  transition: 0.2s ease;
}

.awesome-item:hover {
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.25);
}

.awesome-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1.88rem;
  border: 1px solid #d98943;
  border-radius: 50%;
  width: 4.38rem;
  height: 4.38rem;
}

.awesome-icon i {
  font-size: 1.88rem;
  font-weight: solid;
  color: #d98943;
  transition: all 0.3s ease-out;
}

.awesome-icon i:hover {
  transform: rotate(360deg) scale(1.3);
}

.awesome-caption {
  margin-bottom: 1rem;
}
