.contact {
  padding: 5rem 0;
}

.contact .section-wrapper {
  display: block;
  margin: 0 -0.94rem;
}

.contact-form__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 4.31rem;
  width: 100%;
}
.contact-form__left,
.contact_form__right {
  width: 40%;
  margin: 0 0.94rem;
}

.contact-form__item {
  margin-bottom: 2.19rem;
}

.contact-form__content label {
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.88rem;
  color: #bdbdbd;
  text-transform: capitalize;
}

.contact-form__content label:hover {
  cursor: pointer;
}

.contact-form__content input {
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
  line-height: 1.56rem;
  color: #bdbdbd;
  transition: all 0.2s ease-out;
}

.contact-form__content input:last-child {
  margin-bottom: 0px;
}

.contact-form__content textarea {
  width: 100%;
  height: 11.88rem;
  border-bottom: 1px solid #bdbdbd;
  resize: none;
  color: #bdbdbd;
  transition: all 0.2s ease-out;
}

.contact-form__content input:hover,
.contact-form__content input:active,
.contact-form__content input:focus,
.contact-form__content textarea:hover,
.contact-form__content textarea:active,
.contact-form__content textarea:focus {
  box-shadow: 0 1px 0.125em rgba(0, 0, 0, 0.25);
  outline: 0;
  outline-offset: 0;
}

.contact-form__content input:active,
.contact-form__content input:focus,
.contact-form__content textarea:active,
.contact-form__content textarea:focus {
  padding: 0.63rem;
}

.contact-form__content input:active,
.contact-form__content input:focus {
  padding: 0 0.63rem;
}

.contact-btn__wrapper {
  display: flex;
  justify-content: center;
}

.contact-btn {
  padding: 0.69rem 2rem;
  background: #ec7979;
  text-transform: capitalize;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.94rem;
}

.contact-btn:hover {
  background: #ab4949;
}
