.customers {
  padding: 5rem 0;
}

.customers-item {
  width: 18.63rem;
  margin: 0 0.94rem;
}

.customers-comment {
  position: relative;
  background: #e2e2e2;
  color: #86878b;
  border-radius: 0.44rem;
  padding: 0.56rem 1.38rem;
  margin-bottom: 1.38rem;
}

.customers-comment::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 2.1rem;
  width: 0;
  height: 0;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  border-top: 0.75rem solid #e2e2e2;
}

.customers-autor {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.customers-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.38rem;
  height: 4.38rem;
  border-radius: 50%;
  overflow: hidden;
}

.customers-avatar img {
  width: auto;
  height: 100%;
}

.customers-info {
  text-align: right;
  text-transform: capitalize;
}
.customers-name {
  display: block;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.69rem;
  color: #333333;
}

.customers-function {
  display: block;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.19rem;
  color: #86878b;
}
