.fullscreen {
  padding: 8rem 0;
  background-image: url(../img/bg/background-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
}

.fullscreen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.fullscreen-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -0.94rem;
}

.fullscreen-left {
  max-width: 34rem;
  margin: 0 0.94rem;
}

.fullscreen-logo {
  display: block;
  margin-bottom: 2.44rem;
}

.fullscreen-logo a {
  font-family: Roboto, sans-serif;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.38rem;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}

.fullscreen-logo a::after {
  content: "it";
  color: #ec7979;
}

.fullscreen-title {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 2.44rem;
}

.fullscreen-title::after {
  content: "";
  display: block;
  height: 0.125rem;
  width: 4rem;
  margin-top: 2rem;
  background: #ffffff;
}

.fullscreen-subtitle {
  font-family: RalewayRegular, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.19rem;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 2.44rem;
}

.fullscreen-link {
  display: flex;
}

.fullscreen-link a {
  padding: 0.69rem 1.69rem;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 1.25rem;
  transition: all 0.2s ease-out;
}

.fullscreen-link a:hover {
  box-shadow: 0px 0.25rem 0.63rem rgba(0, 0, 0, 0.25);
  color: #000;
  background-color: #fff;
}

.fullscreen-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.94rem;
  width: 23.19rem;
  position: relative;
  animation: jump_form 4.3s ease-in-out infinite;
  border-radius: 0.5rem;
  background: #ffffff;
  overflow: hidden;
}

.fullscreen-form:hover {
  animation-play-state: paused;
}

.fullscreen-form__content {
  padding: 0.94rem 3.69rem 3.81rem;
}

.fullscreen-form__title {
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.69rem;
  color: #000000;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 2.75rem;
}

.fullscreen-form__title span {
  text-transform: uppercase;
  color: #ec7979;
}

.fullscreen-form__item {
  margin-bottom: 1.19rem;
}

.fullscreen-form__item:last-child {
  margin-bottom: 0;
}

.fullscreen-form__content label {
  font-family: "Open Sans";
  font-size: 0.88rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.19rem;
  text-transform: capitalize;
  color: #bdbdbd;
}

.fullscreen-form__content label:hover {
  cursor: pointer;
}

.fullscreen-form__content input {
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
  font-family: "Open Sans";
  color: #bdbdbd;
  transition: all 0.2s ease-out;
}

.fullscreen-form__content input:hover,
.fullscreen-form__content input:active,
.fullscreen-form__content input:focus {
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.25);
  outline: 0;
  outline-offset: 0;
}

.fullscreen-form__content input:active,
.fullscreen-form__content input:focus {
  padding: 0 0.63rem;
}

.fullscreen-form__btn {
  cursor: pointer;
  color: #ffffff;
  font-size: 0.94rem;
  width: 100%;
  margin: 0;
  padding: 1.38rem 0;
  background: #ec7979;
  text-transform: capitalize;
  transition: all 0.2s ease-out;
}

.fullscreen-form__btn:hover {
  background: #ab4949;
}

@keyframes jump_form {
  0%,
  10%,
  20%,
  30%,
  100% {
    bottom: 0;
  }
  5%,
  15%,
  25% {
    bottom: 1.25rem;
  }
}
