.fullscreen {
  padding: 120px 0;
  background-image: url(../img/bg/background-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
}

.fullscreen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.fullscreen-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.fullscreen-left {
  max-width: 544px;
  margin: 0 15px;
}

.fullscreen-logo {
  display: block;
  margin-bottom: 39px;
}

.fullscreen-logo a {
  font-family: Roboto, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}

.fullscreen-logo a::after {
  content: "it";
  color: #ec7979;
}

.fullscreen-title {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.fullscreen-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  margin-top: 32px;
  background: #ffffff;
}

.fullscreen-subtitle {
  font-family: RalewayRegular, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 39px;
}

.fullscreen-link {
  display: flex;
}

.fullscreen-link a {
  padding: 11px 27px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 20px;
  transition: all 0.2s ease-out;
}

.fullscreen-link a:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #000;
  background-color: #fff;
}

.fullscreen-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  width: 371px;
  position: relative;
  animation: jump_form 4.3s ease-in-out infinite;
  border-radius: 8px;
  background: #ffffff;
  overflow: hidden;
}

.fullscreen-form:hover {
  animation-play-state: paused;
}

.fullscreen-form__content {
  padding: 15px 59px 61px;
}

.fullscreen-form__title {
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  color: #000000;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 44px;
}

.fullscreen-form__title span {
  text-transform: uppercase;
  color: #ec7979;
}

.fullscreen-form__item {
  margin-bottom: 19px;
}

.fullscreen-form__item:last-child {
  margin-bottom: 0;
}

.fullscreen-form__content label {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-transform: capitalize;
  color: #bdbdbd;
}

.fullscreen-form__content label:hover {
  cursor: pointer;
}

.fullscreen-form__content input {
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
  font-family: "Open Sans";
  color: #bdbdbd;
  transition: all 0.2s ease-out;
}

.fullscreen-form__content input:hover,
.fullscreen-form__content input:active,
.fullscreen-form__content input:focus {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  outline: 0;
  outline-offset: 0;
}

.fullscreen-form__content input:active,
.fullscreen-form__content input:focus {
  padding: 0 10px;
}

.fullscreen-form__btn {
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  width: 100%;
  margin: 0;
  padding: 22px 0;
  background: #ec7979;
  text-transform: capitalize;
  transition: all 0.2s ease-out;
}

.fullscreen-form__btn:hover {
  background: #ab4949;
}

@keyframes jump_form {
  0%,
  10%,
  20%,
  30%,
  100% {
    bottom: 0;
  }
  5%,
  15%,
  25% {
    bottom: 20px;
  }
}
