.header {
  width: 100%;
  padding: 1.25rem 0;
  background-color: rgba(0, 0, 0, 0.9);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -0.94rem;
}

.header-logo {
  margin: 0 0.94rem;
}

.header-logo a {
  font-family: RalewayRegular, sans-serif;
  font-weight: 400;
  font-size: 1.88rem;
  line-height: 2.19rem;
  text-transform: uppercase;
  color: #fff;
}

.header-logo a::after {
  content: "IT";
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.88rem;
  line-height: 2.19rem;
  text-transform: uppercase;
  color: #ec7979;
}

.header-menu {
  margin: 0 0.94rem;
}

.header-menu__list {
  display: flex;
}

.header-menu__item {
  margin-right: 3rem;
  transition: all 0.2s ease-out;
}

.header-menu__item a {
  font-size: 0.94rem;
  font-weight: normal;
  line-height: 1.25rem;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
}

.header-menu__item a::after {
  content: "";
  position: absolute;
  bottom: -0.19rem;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.header-menu__item:hover {
  transform: translate(0, -0.19rem);
}

.header-menu__item a:hover::after,
.header-menu__item a:focus::after {
  opacity: 1;
}

.header-menu__item a::after {
  transform: scale(0);
  transform-origin: center;
}

.header-menu__item a:hover::after,
.header-menu__item a:focus::after {
  transform: scale(1);
}

.header-menu__item:last-child {
  margin-right: 0;
}

.mobile-menu {
  display: none;
}

.mobile-menu i {
  font-size: 2.13rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
}
