.pricing {
  background: #f5f5f5;
  padding: 80px 0;
}

.pricing-title {
  margin-bottom: 34px;
}

.pricing-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  margin: 34px auto 0;
  background: #e72424;
}

.pricing-subtitle {
  margin-bottom: 63px;
}

.pricing-wrap {
  display: flex;
  justify-content: space-around;
  margin: 0 -15px;
}

.pricing-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  margin: 0 15px;
  cursor: pointer;
}

.pricing-name {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: #fff;
  background: #333333;
}

.pricing-cost {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  font-family: RalewayRegular, sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #fff;
  background: #333333;
}

.pricing-period {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  background: #333333;
}

.pricing-period:hover {
  background: #d98943;
}

.pricing-decription {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: #86878b;
  background: #ffffff;
}

.pricing-decription:last-child {
  margin-bottom: 0;
}
