.social {
  width: 100%;
  background-color: #f8efef;
  padding: 14px 15px;
}

.social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.social-info {
  width: 365px;
  margin-right: 15px;
}

.social-info__title {
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 14px;
}

.social-info__subtitle {
  text-align: left;
}

.social-links {
  width: 50%;
}

.social-links__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.social-links__icons i {
  font-size: 34px;
  color: #86878b;
  font-weight: 700;
  transition: all 0.2s ease-out;
  transform-origin: bottom right;
}

.social-links__icons i:hover {
  transform: scale(1.3) rotate(45deg);
}

.social-links__icons .fa-facebook-f:hover {
  color: #1877f2;
}

.social-links__icons .fa-twitter:hover {
  color: #1d9bf0;
}

.social-links__icons .fa-google:hover {
  color: #db4a39;
}

.social-links__icons .fa-pinterest:hover {
  color: #e60023;
}

.social-links__icons .fa-instagram:hover {
  color: #e1306c;
}

.social-links__icons .fa-linkedin-in:hover {
  color: #0a66c2;
}

.social-links__icons .fa-rss:hover {
  color: #ee802f;
}
