@import url(../css/null.css);
@import url(../css/header.css);
@import url(../css/fullscreen.css);
@import url(../css/social.css);
@import url(../css/tabs.css);
@import url(../css/awesome.css);
@import url(../css/pricing.css);
@import url(../css/customers.css);
@import url(../css/axure.css);
@import url(../css/contact.css);
@import url(../css/footer.css);

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css");

@font-face {
  font-family: RalewayRegular;
  src: url("../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  scroll-behavior: smooth;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

h1 {
  font-family: RalewayRegular, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
}

h2 {
  font-family: RalewayRegular, sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #212121;
  text-transform: uppercase;
}

h3 {
  font-size: 14px;
  font-weight: 400;
  color: #86878b;
  line-height: 19px;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #000;
  line-height: 19px;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 67px;
}

.section-title {
  margin-bottom: 34px;
}

.section-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  margin: 34px auto 0;
  background: #e72424;
}

.section-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 -15px;
}
