@import url(../css/null.css);
@import url(../css/header.css);
@import url(../css/fullscreen.css);
@import url(../css/social.css);
@import url(../css/tabs.css);
@import url(../css/awesome.css);
@import url(../css/pricing.css);
@import url(../css/customers.css);
@import url(../css/axure.css);
@import url(../css/contact.css);
@import url(../css/footer.css);
@import url(../css/mobile-nav.css);

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css");

@font-face {
  font-family: RalewayRegular;
  src: url("../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  scroll-behavior: smooth;
}

.container {
  max-width: 73.13rem;
  margin: auto;
  padding: 0 0.94rem;
  position: relative;
  z-index: 1;
}

h1 {
  font-family: RalewayRegular, sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.63rem;
}

h2 {
  font-family: RalewayRegular, sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  color: #212121;
  text-transform: uppercase;
}

h3 {
  font-size: 0.88rem;
  font-weight: 400;
  color: #86878b;
  line-height: 1.19rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #333333;
  text-align: center;
}

p {
  font-size: 0.88rem;
  font-weight: 400;
  text-align: center;
  color: #000;
  line-height: 1.19rem;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.53rem;
}

.section-title {
  margin-bottom: 2.13rem;
}

.section-title::after {
  content: "";
  display: block;
  height: 0.125rem;
  width: 4rem;
  margin: 2.13rem auto 0;
  background: #e72424;
}

.section-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 -0.94rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  .awesome-item {
    margin: 0 0.35rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .fullscreen {
    padding: 14rem 0;
    max-height: 100vh;
    min-height: 0;
  }
  .awesome-item {
    margin-bottom: 5rem;
  }
  .awesome-item:last-child {
    margin-bottom: 0;
  }
  .pricing-item {
    margin-bottom: 5rem;
  }
  .pricing-item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .mobile-menu {
    display: block;
    margin: 0 0.94rem;
    cursor: pointer;
  }
  .header-menu {
    display: none;
  }
  .tab-nav {
    width: 100%;
  }
  .tab-item {
    width: 33.33333%;
  }
  .tabs-img {
    display: none;
  }
  .tabs-content {
    justify-content: center;
  }
  .tabs-description {
    width: 100%;
    padding: 3.375rem 0 3.375rem 0;
    text-align: center;
  }
  .tabs-text {
    width: 100%;
    text-align: center;
  }
  .tabs-btn__link {
    width: 90%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 8px;
  }
  .fullscreen-wrapper {
    justify-content: center;
  }
  .fullscreen-logo {
    display: none;
  }
  .fullscreen-left {
    margin-bottom: 5rem;
    width: 60%;
    text-align: center;
  }
  .fullscreen-title::after {
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
  }
  .fullscreen-link {
    text-align: center;
  }
  .fullscreen-link a {
    width: 100%;
  }
  .fullscreen-form {
    animation: none;
  }
  .social {
    display: none;
  }
  .section-wrap {
    flex-direction: column;
    align-content: center;
  }
  .section-header {
    text-align: center;
  }
  .section-title::after {
    width: 120px;
  }
  .contact-form__content {
    justify-content: center;
  }
  .contact-form__left,
  .contact_form__right {
    width: 90%;
  }
  .contact-form__item {
    margin-bottom: 4rem;
  }
  .contact-form__item:last-child {
    margin-bottom: 0;
  }
  .contact-btn {
    width: 90%;
  }
  .header-menu {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
}
